gradio
langchain
langchain-community
langchain_nvidia_ai_endpoints
pyprojroot
python-docx 
openpyxl 
pandas 
pyMuPDF 
os
g4f
tiktoken
openai
groq
langchain-groq
langchain-voyageai
tiktoken
PyPDF2
docx
openpyxl
pandas
PyMuPDF
html
shutil
re
yaml
dotenv
g4f
asyncio
